* {
    margin: 0;
    padding: 0;
  }

  body, input, button {
    -webkit-font-smoothing: antialiased;
    font: 400 14px Roboto, sans-serif;
    background: var(--site-backgroud);
    color: #6C6C80;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: Ubuntu;
  }

  :root {
    --site-backgroud: #f5f5f5;
    --primary-color: #4cb69f;
    --secundary-color: #201d3a;
    --text-color:  #6C6C80;
    --title: #322153;
  }


/* Navbar */
nav{
    position: fixed;
  }
  /* .nav-link:hover{
    border-bottom: 2px solid red;
    transition: ease-in-out 5s;
  } */

  .navbar-light .navbar-brand {
    color: var(--title);
    font-family: ubuntu;
  }


  nav.sticky {
    box-shadow:0 5px 5px rgba(2, 77, 33, 0.1);

    color: white;
  }


  .sticky .navbar-brand {
    color:#fff;
  }

  .navbar-light .navbar-nav .nav-link:focus{
    font-weight: 5px;
  }


/* {
    box-sizing:border-box;
}
body{
    overflow: hidden;



a,a:hover{
    text-decoration: none;

}

.modal-header,.modal-footer{
    background: lightblue;
}

.modal-header{
    text-align: center;
}

p{
    text-align: center;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
}

.home{
    background-image: url("/../img/topup.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 65vw;
}

.card-home {
    width: 50%;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
 */

 #page-home {
    height: 100vh;
    background: url('/../img/saving.svg') no-repeat 700px bottom;
    width: 100%;
  }

  #page-home .banner-content{
    flex: 1;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    top: 25%;
    left: 2%;
  }

  #page-home .banner-content h1 {
    font-size: 35px;
    color: var(--title);

  }

  #page-home .banner-content p {
    font-size: 15px;
    margin-top: 24px;
    line-height: 38px;
    font-style: italic;
    color: gray;
  }

  #page-home .banner-content a {
      width: 50%;
      max-width: 360px;
      height: 72px;
      background: var(--primary-color);
      border-radius: 8px;
      text-decoration: none;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-align: center;
      color:var(--text-color);
  }

  #page-home .banner-content a i {
    background: rgba(48, 43, 43, 0.08);
    width: 80px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s
  }
  #page-home .content a strong {
    flex: 1;
    text-align: center;
    color: #FFF;
  }


  #page-home .banner-content .card {
    position: relative;
    margin-left: 11%;
    background:#fff;
    box-shadow:0 20px 50px rgba(2, 92, 6, 0.5);
    border-radius:10px;
    transition:0.5s;
}
#page-home .banner-content .card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}

/* form */

#page-home .form-control{
    padding: 12px 16px 12px 5px;
    height: 50px;
    font-size: 14px;
    color: #2b2a2a;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
  }

  #page-home .form-control:focus{
    border-color: var(--primary-color);

  }

  .msg-error{
      color: red;
  }


  /*Setting*/

.settings, .login-form,
.checkCountry, .checkout-form,
.topupElement
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

.settings-form{
    padding: 20px;
    margin: 5px;
    width: 750px;
}


.login-form-content, .checkout-content,
.checkCountry-card, .topupElement-content{
    padding: 20px;
    margin: 5px;
    width: 550px;
}

.country img{
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

/*.card-values {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #eeeeee;
}

.card-values > div{
    width: 50%;
    height: auto;
    border-radius: 10%;
}*/

.card-value-item:hover {
    border: 2px solid red;
    cursor: pointer;
}
#loader{
    width: 5em;
    height: 5em;
    display: none;
    position:fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    background-position: 50% 50%;
    background-color: rgba(255,255,255,0.8);
    background-repeat: no-repeat;
}

.modal-confirm {
    color: #636363;
    width: 325px;
    font-size: 14px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}
.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}



