.topup-container, .table-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topup-container section.content{
    width: 100%;
    height: 90vh;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: red;*/
}

.topup-container section.content .group-input{
    display: flex;
}

.topup-container section.content .group-input input + input{
    margin-left: 8px;
}

.dash-content section.content form{
    max-width: 450px;
    width: 100%;
    /*
    background-color: red;
    */
    align-items: center;
    justify-content: center;
}


